body {
  margin: 0;
  padding: 0;
  font-family: 'arial bold', 'arial';
  font-size: 18px;
  color: #333333;
  background-color: #2b3644; }

#page-app {
  text-align: center; }
  #page-app .gui-thinbanner {
    display: block;
    padding: 18px;
    margin: 10px auto;
    background-color: #3597ce;
    color: #ffffff;
    text-align: center; }
    #page-app .gui-thinbanner strong {
      display: block;
      margin: 4px auto;
      font-size: 24px;
      font-weight: 400; }
      #page-app .gui-thinbanner strong small {
        display: block;
        margin: 2px auto;
        font-size: 12px; }
  #page-app .gui-multitext {
    min-width: 400px;
    width: 80%;
    margin-top: 10px;
    min-height: 45px;
    font-weight: 200;
    font-size: 32px;
    line-height: 32px;
    font-family: 'sans';
    letter-spacing: -3px; }
  #page-app .gui-btn-rich {
    padding: 8px;
    margin: 5px auto;
    width: 250px;
    height: 45px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    background-color: #3597ce;
    color: #ffffff;
    border-radius: 4px;
    border: 2px solid #ffffff;
    transition: background-color 1.5s, color 1.5s; }
    #page-app .gui-btn-rich:hover {
      background-color: #ffffff;
      color: #3598cf;
      font-weight: bold; }
  #page-app ul.gui-2col-promotable {
    display: block;
    margin: 40px auto;
    width: 60%;
    min-width: 400px;
    list-style-type: none;
    padding: 0;
    background-color: #f0f8fc;
    border-radius: 8px;
    padding: 18px; }
    #page-app ul.gui-2col-promotable li {
      display: flex;
      padding: 20px; }
      #page-app ul.gui-2col-promotable li:not(:first-child) {
        border-top: 1px solid #3597ce; }
      #page-app ul.gui-2col-promotable li strong {
        flex: 1;
        display: block;
        margin: 0 auto;
        text-align: left;
        text-indent: 9px;
        font-weight: 500;
        color: #2b3644; }
      #page-app ul.gui-2col-promotable li a {
        flex: 1;
        display: block;
        width: 50%;
        margin: 0 auto;
        text-align: left;
        text-indent: 8px;
        font-style: normal;
        text-decoration: none;
        color: #3598cf; }
      #page-app ul.gui-2col-promotable li span.gui-empty-state {
        flex: 1;
        display: block;
        margin: 0 auto;
        font-style: none;
        font-size: 20px; }
