
$primary-color:#3597ce;
$primary-dark-color:#2b3644;

$secondary-color:#f0f8fc;
$secondary-light-color:#ffffff;

$font-color:#333333;
$font-light-color:#ffffff;
$font-dark-color:#2b3644;

$font-secondary-color:#3598cf;


$btn-color:#3597ce;
$btn-font-color:#ffffff;


body {
  margin:0;
  padding:0;
  font-family:'arial bold', 'arial';
  font-size:18px;
  color:$font-color;
  background-color:$primary-dark-color;
}


#page-app {

  text-align:center;

  .gui-thinbanner {
    display:block;
    padding:18px;
    margin:10px auto;
    background-color:$primary-color;
    color:$font-light-color;
    text-align:center;

    strong {
      display:block;
      margin:4px auto;
      font-size:24px;
      font-weight:400;

      small {
        display:block;
        margin:2px auto;
        font-size:12px;
      }
    }
  }

  .gui-multitext {
    min-width:400px;
    width:80%;
    margin-top:10px;
    min-height:45px;
    font-weight:200;
    font-size:32px;
    line-height:32px;
    font-family:'sans';
    letter-spacing:-3px;
  }

  .gui-btn-rich {
    padding:8px;
    margin:5px auto;
    width:250px;
    height:45px;
    font-size:16px;
    font-weight:600;
    text-align:center;
    vertical-align:middle;
    background-color:$primary-color;
    color:$font-light-color;
    border-radius:4px;
    border:2px solid #ffffff;

    transition:background-color 1.5s, color 1.5s;

    &:hover {
      background-color:$secondary-light-color;
      color:$font-secondary-color;
      font-weight:bold;
    }
  }

  ul.gui-2col-promotable {
    display:block;
    margin:40px auto;
    width:60%;
    min-width:400px;
    list-style-type:none;
    padding:0;
    background-color:$secondary-color;
    border-radius:8px;
    padding:18px;

    li {
      display:flex;
      padding:20px;
      
      &:not(:first-child) {

        border-top:1px solid $primary-color;

      }

      strong {
        flex:1;
        display:block;
        margin:0 auto;
        text-align:left;
        text-indent:9px;
        font-weight:500;
        color:$font-dark-color;
      }

      a {
        flex:1;
        display:block;
        width:50%;
        margin:0 auto;
        text-align:left;
        text-indent:8px;
        font-style:normal;
        text-decoration:none;
        color:$font-secondary-color;

      }

      span.gui-empty-state {
        flex:1;
        display:block;
        margin:0 auto;
        font-style:none;;
        font-size:20px;
      }
    }
  }


}
